@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap');
*{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
}
html {
  scroll-behavior: smooth;
}
:root {
  --back: #080F0F;
  --accent: #A52422;
  --text: #fff;
  --back2: #333;
  --accent2:white;
}
#buttonl{
  text-decoration: none;
  padding: 0.7em;
  margin: 1em 0em 1em 3em;
  color:var(--accent2);
  border-radius: 30px;
  transition: 0.3s;
  border:solid 2px var(--accent2);
}
#buttonl:hover{
  transition: 0.3s;
  background-color: transparent;
  text-decoration: none;
  color:var(--accent);
  border:solid 2px var(--accent);
}

#activelogo{
  width: 90px;
  opacity: 0;
  position: absolute;
  transition: 0.3s;
}
#activelogo:hover{
  opacity: 1;
  transition: 0.3s;
}

#item-image {
  object-fit: cover;
  width: 100%;
  height: 200px;
  margin: 0.7rem 0em;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 20px;
}
#item{
  margin-top: 1em;
  filter: grayscale(0.30);
  transition: 0.3s;
  border:solid 2px var(--back);
  border-bottom:solid 3px var(--accent2);
  border-radius: 30px;
  background-color: var(--back2);
}

#itemscroll:hover{
  transform: translateY(-10px);
  color: var(--accent);
  transition: 0.3s;
  border-color: var(--accent);
}

#item-image:hover{
  transition: 0.3s;
}
#item:hover{
  transform: translateY(-10px);
  color: var(--accent);
  transition: 0.3s;
  border-color: var(--accent);
}
#contact img{
  margin-top:1em;
  width: 60px;
}
#selected{
  cursor: pointer;
  opacity: 0;
  transition: 0.3s;
  position: absolute;
}
#selected:hover{
  opacity: 1;
  transition: 0.3s;
}


#navbar img {
  margin-left: 5vw;
}

#navbarItem {
  margin: 0em 2em;
  color:var(--text);
  border-bottom: 3px solid;
  border-color: transparent;
}
#navbarItem:hover{
  transition: 0.3s;
  border-color: var(--accent);
}
#image-text{
  text-align: center;
  margin-bottom: 1em;
}

#Info {
  background-color: var(--back);
  color: var(--text);
}
#Info h1{
  padding-top: 1em;
  font-weight: 700;
  font-size: 3rem;
  margin-left: 1em;
}
#Info p{
  font-weight: 500;
  font-size: 1.2em;
  margin-top: 2em;
  margin-bottom: 3rem;
  margin-left: 3em;
}
#gallery{
  background-color: var(--back);
}
#gallery img{
  margin:2em 0em;
  object-fit: cover;
  height: 200px;
  width: 100%;
}
#Hello{
  color: var(--text);
  font-weight: 700;
  
  margin-left: 5vw;
  font-size: 6rem;
  height: 0vh;
}
#staticimage{
  position: fixed;
  top: 0px;
  object-fit: cover;
  height: 100vh;
  width: 100vw;
  z-index: -100;
}
#toggle-button{
  background-color: white;
  opacity: 1;
  margin-right: 2em;
}
#background{
  border-top: 10px solid var(--accent);
  padding-top: 2em;
  padding-bottom: 3em;
  color: var(--text);
  background-color: var(--back);
}
#dropdown{
  font-weight: 700;
  border-color: transparent;
  text-align: left;
  padding-left:2em;
  background-color: transparent;
}
#dropdown:active{
  font-weight: 700;
  text-align: left;
  border-color: transparent;
  background-color: transparent;
}
#MainText{
  color: var(--text);
  font-weight: 700;
  margin: 7vh 0px;
  font-size: 5.5rem;
  text-align: center;
}
#fruitCatalog{
  padding-top: 4em;
  background-color: var(--back);
  border-top: solid 10px var(--accent);
  color: var(--text);
  text-align: center;
}
#fruitCatalog p{
  font-size: 2rem;
  text-decoration: none;
  color: var(--text);
}
#sort-ripe-info{
width: 100%;
margin-top: 5em;
border-radius: 20px;
}
#contact{
  text-align: left;
  margin-top: 35vh;
}
#scroll{
  margin-top: 5em;
  color: var(--text);
  overflow: auto;
  white-space: nowrap;
}
#scrollimg{
  object-fit: cover;
  height: 35vh;
  padding: 0.7em;
  width: 100%;
}
#scrolltext{
  text-align: center;
}
#itemscroll{
  margin-right: 0.5em;
  color: var(--text);
  margin-bottom: 2em;
  margin-top: 1em;
  filter: grayscale(0.30);
  transition: 0.3s;
  border-bottom:solid 3px var(--accent2);
  background-color: var(--back2);
}
#footer{
  padding: 1em 0em;
  text-align: center;
  background-color: var(--back);
  color: #333;

}

@media only screen and (max-width: 600px) {
  #Hello{
    font-size: 12vw;
  }
  #MainText{
    font-size: 12vw;
  }
}
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--back);
  width: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {

  width: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  width: 5px;
 
}